/* header del home */
header nav ul li a{
    color: grey;
    text-transform: uppercase;
    line-height: 40px;
}
header nav {
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 15px;
}
header nav a{
    color: black;
}
/* header horizontal */
header.row nav{
    text-align: right;
}
header.row nav.menu{
    background-color: rgba(255, 255, 255, .5);
    padding-top: 15px;
    padding-bottom: 15px;
}
header.row nav ul li{
    display: inline-block;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
header.row nav ul li:last-child{
    border-right: 1px solid black;
}
header.row nav ul li a{
    color: black;
    line-height: 20px;
}